{% include 'mcp_header.html' %}
<!-- INCLUDECSS @RefugesInfo_trace/trace.css -->

<div class="traces">
	<!-- IF ID_POINT -->
		<h4>Traces liées au point {ID_POINT}</h4>
	<!-- ELSEIF ID_COMMENTAIRE -->
		<h4>Trace du commentaire {ID_COMMENTAIRE}</h4>
	<!-- ELSEIF TRACE_ID -->
		<h4>Trace {TRACE_ID}</h4>
	<!-- ELSE -->
		<p><a href="{U_MCP_ACTION}&ext_error=null">
			{LIMIT} dernières contributions acceptées
		</a></p>
		<p><a href="{U_MCP_ACTION}&ext_error=null&uri=edit&group_id=199&checked=0">
			{LIMIT} édition de posts par un utilisateur
		</a></p>
		<p><a href="{U_MCP_ACTION}&ext_error=!CleanTalk,!No%20soup&browser_operator=!serve">
			{LIMIT} dernières contributions rejetées pour motif interne
		</a></p>
		<p><a href="{U_MCP_ACTION}&ext_error=CleanTalk&browser_operator=!serve">
			{LIMIT} dernières contributions rejetées par CleanTalk (sauf bots)
		</a></p>
		<p><a href="{U_MCP_ACTION}&browser_operator=serve">
			{LIMIT} dernières contributions rejetées (bots)
		</a></p>
		<p><a href="{U_MCP_ACTION}&browser_operator=!serve">
			{LIMIT} dernières contributions (sauf bots)
		</a></p>
		<hr/>

		<h4>
			<!-- IF NOMBRE_TRACES -->
				Historique de {NOMBRE_LIGNES} traces sur {NOMBRE_TRACES}
				<!-- IF OFFSET -->à partir de la {OFFSET} ième<!-- ENDIF -->
			<!-- ELSE -->
				Pas de trace correspondant à ces critères
			<!-- ENDIF -->
		</h4>

		<div>{REQUETE_SQL}</div>
    <div id="edit-requete">
      <a>Edit...</a>
      <form method="get" action="{U_MCP_ACTION}">
        <table>
          <tr><td>
            </td><td>
              chaine (contient) , !chaine (ne contient pas), null, !null
          </td></tr>
            <!-- BEGIN inputs_requete -->
              <tr>
                <td>{inputs_requete.NAME} &nbsp;</td>
                <td>
                  <input
                    type="{inputs_requete.TYPE}"
                    name="ext_error"
                    value="{inputs_requete.VALUE}"
                  />
                </td>
              </tr>
            <!-- END inputs_requete -->
            <tr><td>
              </td><td>
                <input type="hidden" name="i" value="-RefugesInfo-trace-mcp-main_module" />
                <button type="submit">Filtrer</button>
            </td></tr>
          <!--input type="hidden" name="search" value="advanced" /-->
        </table>
      </form>
    </div>

		<script>
      document.getElementById('edit-requete').onclick = evt => {
        evt.target.parentNode.classList.add('edit-form');
      }
		</script>
		<hr/>
	<!-- ENDIF -->

  <table class="report-trace">
    <tr>
      <!-- BEGIN output_requetes_raw -->
        <tr>
          <!-- BEGIN output_requetes_col -->
            <td>{output_requetes_raw.output_requetes_col.VALUE}</td>
          <!-- END output_requetes_col -->
        </tr>
      <!-- END output_requetes_raw -->
    </tr>
  </table>
</div>

{% include 'mcp_footer.html' %}
