.cp-menu,
#edit-requete.edit-form a,
#edit-requete:not(.edit-form) form {
  display: none;
}

.traces p {
  margin: 0;
}

.traces #edit-requete input[type="text"] {
  width: 30em !important;
}

.traces #edit-requete input[type="number"] {
  width: 7em;
}

.traces #edit-requete a {
  cursor: pointer;
}

.traces .report-trace td {
  border: 1px solid grey;
  padding: 3px;
}

.traces button {
  border: 1px solid var(--couleur_texte);
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}
